/* designing header */
*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 80vh;
    padding-top: 40vh;
    background-image: url(images/donation0.jpg);
    background-attachment: local;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #414141;
    background-blend-mode: multiply;
}
.main-head{
color: #ffffff;
margin: auto;
text-align: center;
font-size: 65px;
font-weight: 700;
}
.main-head-text{
    padding-top: 30px;
padding-bottom: 30px;
font-size: 25px;
color: #ffffff;
text-align: center;
justify-content: center;
}
.btn-donate{
    text-align: center;
    margin: auto;
    display: flex;
    padding: 10px 20px;
    background-color: #ff6c6c;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
/* section two design */
.donate-today{
    text-align: center;
    padding-top: 20vh;
}
.amount-list{
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 10px;
    gap: 50px;
    font-size: 40px;
    color: #555555;
    text-align: center;
    align-items: center;
}
.donation-header{
    margin-bottom: 20px;
    font-size: 50px;
}
.donation-paragraph{
    margin-bottom: 40px;
    font-size: 20px;
}
.amount-design{
    color: #ff6c6c;
    background-color: #ffd6d6;
    padding: 10px 20px;
    border: 1px solid #ff6c6c;
    border-radius: 8px;
}
.other-amount{
    padding: 20px;
    border: none;
    text-align: center;
    border-bottom-width: thin;
}
.amount-border{
    border: none;
    border-bottom: 1px solid darkgray;
    margin-bottom: 20px;
}
.amount-border-top{
    border: none;
}
/* our donate plan section design */
.donate-plan{
    margin-top: 50px;
    text-align: center;
}
.section-header{
    margin-bottom: 20px;
    font-size: 50px;
}
.section-header-description{
    font-size: 20px;
}
.mother-div{
    display: flex;
    margin-top: 50px;
    gap: 30px;
    justify-content: space-around;
    margin-bottom: 50px;
}
.food{
    background-color: #e2f8ff;
    padding: 50px 20px;
    border-radius: 10px;
}
.shelter{
    background-color: #ffecef;
    padding: 50px 20px;
    border-radius: 10px;
}
.education{
    background-color: #ffffd1;
    padding: 50px 20px;
    border-radius: 10px;
}